{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-9">
            <a href="javascript:history.back()" class="txt1" style="font-size: 18px"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp; Go back</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="section-heading text-center">
                <div class="line-"></div>
                <h1>Edit Region</h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
        {{ include('region/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
            <div class="col-md-3 offset-md-2">
            {{ include('region/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
